name: PR Actions

on:
  issue_comment:
    types: [created]
  pull_request:
    types:
      - labeled
      - synchronize

env:
  GH_TOKEN: ${{ secrets.AGENT_TOKEN }}

jobs:
  on-new-push:
    if: github.event_name == 'pull_request' && github.event.action == 'synchronize'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Remove lgtm label on new push
      run: |
        PR_NUMBER=$(jq -r '.issue.number' $GITHUB_EVENT_PATH)

        if [ -z "$PR_NUMBER" ]; then
         echo "No PR number found in push event context."
          exit 0
        fi

        if gh pr view $PR_NUMBER --json labels --jq '.labels[].name' | grep -q "lgtm"; then
          gh pr edit $pr --remove-label lgtm
          echo "Removed 'lgtm' label due to new push."
        fi

  on-issue-comments:
    if: github.event_name == 'issue_comment' && github.event.action == 'created'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install yq
      run: pip install yq

    - name: Handle Issue Comments
      run: |
        COMMENT_BODY=$(jq -r '.comment.body' $GITHUB_EVENT_PATH)
        PR_NUMBER=$(jq -r '.issue.number' $GITHUB_EVENT_PATH)
        COMMENT_USER=$(jq -r '.comment.user.login' $GITHUB_EVENT_PATH)

        # Initialize arrays to store the labels.
        LABELS_TO_ADD=()
        LABELS_TO_REMOVE=()

        while IFS= read -r COMMENT_LINE; do
          COMMENT_LINE=$(echo "$COMMENT_LINE" | sed 's/^[ \t]*//;s/[ \t]*$//' | tr -d '\r\n' | awk '{$1=$1};1')
          LABEL=$(echo "$COMMENT_LINE" | awk '{print $2}')

          if [[ ! "$COMMENT_LINE" =~ ^/ ]]; then
            echo "comment not related"
            continue
          fi

          # Handle lgtm command
          if [[ "$COMMENT_LINE" =~ ^/lgtm ]]; then
            if [[ "$LABEL" =~ ^cancel ]]; then
              LABELS_TO_REMOVE+=("lgtm")
              echo "To remove label: lgtm"
            else
              LABELS_TO_ADD+=("lgtm")
              echo "To add label: lgtm"
            fi

          # Handle approved command
          elif [[ "$COMMENT_LINE" =~ ^/approve ]]; then
            if yq ".approvers[] | select(. == \"$COMMENT_USER\") " OWNERS | grep -q "$COMMENT_USER"; then
              if [[ "$LABEL" =~ ^cancel ]]; then
                LABELS_TO_REMOVE+=("approved")
                echo "To remove label: approved"
              else
                LABELS_TO_ADD+=("approved")
                echo "To add label: approved"
              fi
            else
              gh pr comment $PR_NUMBER --body "Sorry, @$COMMENT_USER is not authorized to approve/unapprove this PR."
              echo "User $COMMENT_USER is not authorized to approve/unapprove this PR"
            fi

          # Handle hold command
          elif [[ "$COMMENT_LINE" =~ ^/hold ]]; then
            if [[ "$LABEL" =~ ^cancel ]]; then
              LABELS_TO_REMOVE+=("do-not-merge/hold")
              echo "To remove label: do-not-merge/hold"
            else
              LABELS_TO_ADD+=("do-not-merge/hold")
              echo "To add label: do-not-merge/hold"
            fi

          # Handle kind command
          elif [[ "$COMMENT_LINE" =~ ^/kind ]]; then
            if [[ "$LABEL" =~ ^lgtm || "$LABEL" =~ ^approve ]]; then
              echo "The label '$LABEL' cannot be added using /kind."
            else
              LABELS_TO_ADD+=("$LABEL")
              echo "To add label: '$LABEL'"
            fi
          elif [[ "$COMMENT_LINE" =~ ^/remove-kind ]]; then
            if [[ "$LABEL" =~ ^lgtm || "$LABEL" =~ ^approve ]]; then
              echo "The label '$LABEL' cannot be removed using /remove-kind."
            else
              LABELS_TO_REMOVE+=("$LABEL")
              echo "To remove label: '$LABEL'"
            fi


          # Handle assignment
          elif [[ "$COMMENT_LINE" =~ ^/assign ]]; then
            USERNAME=$(echo "$LABEL" | sed 's/@//')
            if [[ -n "$USERNAME" ]]; then
              gh pr edit $PR_NUMBER --add-assignee "$USERNAME"
              echo "Assign to $USERNAME"
            else
              echo "No username provided for assignment."
            fi
          elif [[ "$COMMENT_LINE" =~ ^/unassign ]]; then
            USERNAME=$(echo "$LABEL" | sed 's/@//')
            if [[ -n "$USERNAME" ]]; then
              gh pr edit $PR_NUMBER --remove-assignee "$USERNAME"
              echo "Unassign to $USERNAME"
            else
              echo "No username provided for unassignment."
            fi

          else
              echo "$COMMENT_LINE is not supported"
          fi
        done <<< "$COMMENT_BODY"

        # Convert array to comma-separated strings.
        LABELS_TO_ADD_STR=$(IFS=,; echo "${LABELS_TO_ADD[*]}")
        LABELS_TO_REMOVE_STR=$(IFS=,; echo "${LABELS_TO_REMOVE[*]}")

        if [[ -n "$LABELS_TO_ADD_STR" ]]; then
          gh pr edit $PR_NUMBER --add-label "$LABELS_TO_ADD_STR"
        fi
        if [[ -n "$LABELS_TO_REMOVE_STR" ]]; then
          gh pr edit $PR_NUMBER --remove-label "$LABELS_TO_REMOVE_STR"
        fi

  on-label-updates:
    if: github.event_name == 'pull_request' && github.event.action == 'labeled'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Merge PR if approved and lgtm
      run: |
        LABELS=$(gh pr view $PR_NUMBER --json labels --jq '.labels[].name')
        if [[ "$LABELS" == *"lgtm"* && "$LABELS" == *"approved"* && "$LABELS" != *"do-not-merge/hold"* ]]; then
          gh pr merge $PR_NUMBER --merge
          echo "Merge!"
        else
          echo "Not ready to merge"
        fi
